.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.header__name{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
    font-size: 1rem;
}
.header__logo{
    padding-right: 0.5rem;
}
.item__link{
    font-size: 0.85rem;
    text-decoration: none;
    color: var(--font-color);
}
.item__pc{
    display: none;
}

.item__link:hover{
    font-weight: bold;
    text-decoration: underline;
}